  <!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freebirds Survey</title>
</head>
<body>
    <p>Welcome to Freebirds Survey!</p>
</body>
</html>
-->


<%- include('partials/header.ejs'); -%>

<%- include('partials/main_nav.ejs'); -%>
  

  <!-- Main Content -->
  <main class="bgBlack">
    <div class=" container jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Home") { %>
       <%- include('partials/home'); -%>
      <%} else if(title == "About") { %>
        <%- include('partials/about') -%>
       <%}
       %>
    </div>
  </main>

  <%- include('partials/bottom_nav.ejs'); -%>  

  <%- include('partials/footer.ejs'); -%>